.skip-next-button {
	background: none;
	border: none;
	cursor: pointer;
	transition-duration: 0.2s;
}

.skip-next-button:hover {
	color: var(--color-accent);
}

.icon {
	font-size: 36px;
	user-select: none;
}
