.skip-prev-button {
	background: none;
	border: none;
	cursor: pointer;
	transition-duration: 0.2s;
}

.icon {
	font-size: 36px;
	user-select: none;
	color: var(--color-controls-light-muted);
	transition: var(--transition-normal);
}

.icon:hover {
	color: var(--color-controls-light);
}
