.play-button {
	background: none;
	border: none;
	cursor: pointer;
}

.icon {
	font-size: 48px;
	user-select: none;
	color: var(--color-controls-light-muted);
	transition: var(--transition-normal);
}

.icon:hover {
	color: var(--color-controls-light);
}
