.filter-button {
	border: none;
	cursor: pointer;
	padding: 4px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: transparent;
}

.icon {
	font-size: 36px;
	user-select: none;
	color: var(--color-controls-light-muted);
	transition: var(--transition-normal);
	vertical-align: middle;
	text-align: center;
}

@media (max-width: 768px) {
	.icon {
		font-size: 24px;
	}
}

.icon:hover {
	color: var(--color-controls-light);
}
