.filter-drawer {
	position: fixed;
	right: 0;
	top: 0;
	bottom: 0;
	width: 600px;
	max-width: 80vw;
	min-height: 100vh;
	background: hsla(var(--color-background-hsl) / 0.7);
	backdrop-filter: blur(12px);
	border-left: 1px solid var(--color-controls-light-extra-muted);
	padding: 1rem;
	color: var(--color-text-light);
	z-index: 10000;

	display: flex;
	flex-direction: column;
	gap: 1rem;
	align-items: start;
}

.filter-close {
	background: none;
	border: none;
	color: var(--color-text-light);
	cursor: pointer;
	padding: 0;
	margin-bottom: 1rem;
}

.category-list {
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 0;
	width: 100%;
}

.list-item {
	cursor: pointer;
	text-transform: uppercase;
}

.list-item:hover {
	background: hsl(0, 100%, 100%, 0.1);
}

.category-label {
	display: flex;
	align-items: center;
	gap: 0.65rem;
	cursor: pointer;
	width: 100%;
	padding: 0.5rem 1rem;
	user-select: none;
}

.category-checkbox {
	width: 1rem;
	height: 1rem;
	margin: 0;
	appearance: none;
	background: transparent;
	border: 3px solid var(--color-text-light);
	border-radius: var(--radius-normal);
	display: grid;
	place-content: center;
}

.category-checkbox::before {
	content: "";
	width: 0.6rem;
	height: 0.6rem;
	transform: scale(0);
	background:
		linear-gradient(
			45deg,
			transparent 42%,
			var(--color-text-light) 42%,
			var(--color-text-light) 58%,
			transparent 58%
		),
		linear-gradient(
			-45deg,
			transparent 42%,
			var(--color-text-light) 42%,
			var(--color-text-light) 58%,
			transparent 58%
		);
}

.category-checkbox:checked::before {
	transform: scale(1);
}

.category-text {
	letter-spacing: 0.08em;
}
