.music-progress {
	display: grid;
	grid-template-columns: 2rem 1fr 2rem;
	gap: 1rem;
	align-items: center;
	flex-grow: 1;
}

.left {
	justify-self: end;
	font-size: var(--font-size-xs);
	width: fit-content;
}

.right {
	justify-self: start;
	font-size: var(--font-size-xs);
	width: fit-content;
}

.text {
	color: var(--color-text-light);
	font-size: var(--font-size-xs);
	font-weight: var(--font-weight-light);
	font-family: var(--font-family-text);
}

.progress-bar {
	appearance: none;
	width: 100%;
	cursor: pointer;
	height: 4px;
	border-radius: 4px;
	background: var(--color-controls-light-extra-muted);
}

.progress-bar::-webkit-slider-thumb {
	appearance: none;
	background: white;
	height: 16px;
	width: 16px;
	border-radius: 50%;
}
