.music-progress {
	display: grid;
	grid-template-columns: 3rem 1fr 3rem;
	gap: 1rem;
	align-items: center;
}

.left {
	justify-self: end;
	font-size: var(--font-size-xs);
}

.right {
	justify-self: start;
	font-size: var(--font-size-xs);
}
